{% extends 'emails/layout.html.twig' %}

{% block title %}Weekly Timesheet Approved{% endblock %}

{% block body %}
<p>
    Your weekly timesheet for <strong>{{ weekStart }} - {{ weekEnd }}</strong>
    has been <strong>approved</strong>.
</p>
{% if submission.supervisorNotes %}
    <p><strong>Notes:</strong> {{ submission.supervisorNotes }}</p>
{% endif %}
{% endblock %}
